/* CSS Styles for Filmography
	
Table of Contents:

01. Base Styles
02. Typography
03. Layout
04. Splash Page
05. Filter Lists

*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    height: 100%;
    background-color: #092335; }

body {
    height: 100%;
	font-family: 'futura-pt', Helvetica, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
    overflow: hidden; }

body, input, textarea, button {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

div#data-background {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    width: calc(100% - 235px); /* subtract width of sidebar 220px + 15px margin */
    height: calc(100% - 90px); /* subtract height of footer + 30px margin*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   	background: -webkit-linear-gradient(#092335 50%, #0e3549 100%);
    background: -moz-linear-gradient(#092335 50%, #0e3549 100%);
    background: -ms-linear-gradient(#092335 50%, #0e3549 100%);
    background: -o-linear-gradient(#092335 50%, #0e3549 100%);
    background: linear-gradient(#092335 50%, #0e3549 100%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none; }

div#data-background:after {
    content: '';
    width: calc(100% - 235px); /* subtract width of sidebar + 15px margin */
    height: calc(100% - 90px); /* subtract height of footer + 30px margin */
    margin-left: 220px; /* this is the width of sidebar 220px */
    margin-top: 15px;
    background-image: url(../images/film_texture.png);
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    pointer-events: none; }

canvas {
    margin-left: 220px; /* width of sidebar 220px */
    margin-top: 15px;
	position: absolute !important;
    top: 0;
    z-index: 2;
    cursor: none !important; }

	.min-opacity,
	.add-opacity {
 		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
		animation-duration: .5s; }

	.min-opacity {
		opacity: .6;
		animation-name: fadeOutOpacity; }
		
		@-webkit-keyframes fadeOutOpacity {
			0% {
				opacity: 1;
			}
			100% {
				opacity: .6;
			}
		}
		
		@-moz-keyframes fadeOutOpacity {
			0% {
				opacity: 1;
			}
			100% {
				opacity: .6;
			}
		}
		
		@keyframes fadeOutOpacity {
			0% {
				opacity: 1;
			}
			100% {
				opacity: .6;
			}
		}
		
	.add-opacity {
		opacity: 1;
		animation-name: fadeInOpacity; }
		
		@-webkit-keyframes fadeInOpacity {
			0% {
				opacity: .6;
			}
			100% {
				opacity: 1;
			}
		}
		
		@-moz-keyframes fadeInOpacity {
			0% {
				opacity: .6;
			}
			100% {
				opacity: 1;
			}
		}
		
		@keyframes fadeInOpacity {
			0% {
				opacity: .6;
			}
			100% {
				opacity: 1;
			}
		}

footer {
    position: absolute;
    background-color: #092335;
    bottom: 0;
    right: 0;
    height: 60px; /* this is linked in jQuery so don't change without updating jQuery */
    width: calc(100% - 220px);
    z-index: 20; } /* subtract width of .sidebar */
	
	
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h2 {
	text-transform: uppercase;
	letter-spacing: 0.02em; }
	
	
/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#logo {
	margin: 0 auto;
    padding-top: 1.3em; }
	
	#logo a {
		text-indent: -9999px;
		font-size: 0;
		display: inline-block;
		width: 215px;
		height: 100px;
		background: url(../images/Logo.svg) no-repeat center top;
		background-size: 100%; }

/* --- filters -- */
.sidebar {
	width: 220px; /* this is linked in jQuery so don't change without updating jQuery */
    height: 100%;
   	background: -webkit-linear-gradient(#092335 50%, #0e3549 100%);
    background: -moz-linear-gradient(#092335 50%, #0e3549 100%);
    background: -ms-linear-gradient(#092335 50%, #0e3549 100%);
    background: -o-linear-gradient(#092335 50%, #0e3549 100%);
    background: linear-gradient(#092335 50%, #0e3549 100%); }	
    
/* footer */
.baseline-bar {
	background: #0e3549;
    height: 35px; }

/* slider */
.slider {
    height: 25px;
    width: 100%; }

#slider-block {
    height: 15px;
    position: absolute;
    right: 15px; /* starting position */
    border-radius: 2px;
    margin-top: 5px;
    background: -moz-linear-gradient(0deg, rgba(247,201,216,1) 0%, rgba(247,183,199,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(247,201,216,1)), color-stop(100%, rgba(247,183,199,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(247,201,216,1) 0%, rgba(247,183,199,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(247,201,216,1) 0%, rgba(247,183,199,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(247,201,216,1) 0%, rgba(247,183,199,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(247,201,216,1) 0%, rgba(247,183,199,1) 100%); /* w3c */
}


/* --- mousemove/year marker -- */
#mouse-move,
#line {
    height: 100%;
    position: absolute;
    pointer-events: none; }

#mouse-move {
    cursor: none;
    z-index: 15;
    transform: none;
    backface-visibility: hidden;
    transform-origin: 50% 50% 0px;
    display: block;
    top: 0;
    left: 300px; /* starting position */ }

	#line {
	    width: 1px;
	    top: 0;
	    background-color: #f7b7c7; }
	
	#cursor {
		width: 8px;
		height: 8px;
		border-radius: 20%;
		background-color: #f7b7c7;
		position: relative;
		left: -4px;
		cursor: none;
		pointer-events: none; }

		.pink-glow {
		    -webkit-box-shadow: 0px 0px 35px 16px rgba(255,178,178,0.95);
		    -moz-box-shadow: 0px 0px 35px 16px rgba(255,178,178,0.95);
		    box-shadow: 0px 0px 35px 16px rgba(255,178,178,0.95); }
	
	#current-year {
		width: 45px;
		height: 20px;
		background-color: #f7b7c7;
		position: relative;
		top: 20px;
		pointer-events: none; }
		
		#dot-year {
			color: #0e3549;
			position: relative;
			text-align: center;
			top: 2px;
			letter-spacing: 0.01em;
			font-weight: 600;
			font-size: 0.9em;
			pointer-events: none; }
	
	
/* --- pop up -- */	
.detail {
	width: 400px;
    height: auto;
	padding: 5px;
	color: #0e3549;
    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 9999;
    border-radius: 4px;
    font-size: 95%;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: extend;
    -moz-animation-name: extend;
    animation-name: extend;
    overflow: scroll; }

	/* ---- animate pop up: close ---- */	
	.close-detail  {
	    -webkit-animation-name: collapse;
	    -moz-animation-name: collapse;
	    animation-name: collapse; }

		/* ---- animate content inside pop up: open ---- */
		.detail * {
			-webkit-animation-name: fadeInDown;
			animation-name: fadeInDown;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-delay: .5s;
			animation-delay: .5s; }

		/* ---- animate content inside pop up: close ---- */	
		.close-detail * {
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
			-webkit-animation-duration: .5s;
			animation-duration: .5s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
/*
			-webkit-animation-delay: 1s;
			animation-delay: 1s;
*/ }

	.detail-image-wrapper {
		overflow: hidden;
        float: left;
        padding: 5px;
        width: 150px;
        height: 225px;
        display: inline-block;
        padding: 5px; }

        .detail-image {
            width: 100%; }

    .detail-title-wrapper {
         width: 160px; }

		.detail-title-wrapper h2,
		.detail-title-wrapper p {
			display: block; 
	        float: left;
	        width: 100%;
	        padding-bottom: 5%;
	        padding-left: 5px; }
		
		.detail-title {
            font-weight: 400;
            padding-top: 5px; }
        
        .yr {
            float: left;
            margin-top: 8px;
            font-size: 0.9em; }  

.trailer {
    float: right;
    margin-top: 10px;
    font-size: 0.82em; 
    display: inline-block;
    cursor: pointer;
    color: #7bb9c5;
    text-decoration: none;
    text-transform: uppercase;
}

	.trivia-awards {
	    width: 100%;
	    display: inline-block;
	    margin: 5px;
        vertical-align: baseline;
 }
	
	.awards.fa.fa-trophy, .trivia.fa.fa-question-circle {
	    width: 10%; 
        color: #7bb9c5;
}

	.awards.fa.fa-trophy:hover, .trivia.fa.fa-question-circle:hover, .trailer:hover {
        color: #f7b7c7;
}
	
.fa.fa-clock-o {
    width: 10%;
}

p.run-time {
    display: inline-block;
    width: 40%;
    padding-left: 0;
}
	
	.revenue, .budget {
	    display: block;
	    padding-bottom: 5%;
}

	.detail-details {
	    clear: right;
	    display: inline-block;
	    width: 220px;
	    padding-left: 5px;
	    padding-right: 5px; }
	
	.detail-overview {
	    padding-bottom: 5%;
	    font-weight: 100;
	    display: block;
	    clear: both; 
	    padding-top: 15px;}

    .genre-ids {
        padding-bottom: 5%;
        padding-top: 5px;
        text-transform: uppercase;
        font-size: 0.8em; }

    .actors {
        font-weight: 100;
        padding-bottom: 10px; 
}

/* Hover Event Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* --- basic styles --- */

#hover-event {
	pointer-events: none;
	display: none;
	position: absolute;
	z-index: 30; }

	.open {
		display: block !important; }
	
	.close {
	    display: none !important; }
	
.event {
	position: relative;
	left: 0;
	right: 0;
	height: auto;
	display: block;
	padding-left: 60px;
	pointer-events: none; }

	.event-image-wrapper {
	    width: 100px;
	    height: 100px;
	    box-shadow: 0 0 0 0 #fff;
	    position: relative;
	    margin: 0 auto;
	    cursor: pointer;
		background-size: 70%;
	    background-repeat: no-repeat; 
	    pointer-events: none; }
	    
		.event-image {
		    background-size: cover;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    border: 3px solid #fff;
		    border-radius: 2%;
		    margin-left: -5px;
		    -webkit-animation-duration: .3s;
		    -moz-animation-duration: .3s;
		    animation-duration: .3s;
		    -webkit-animation-delay: .1s;
		    -moz-animation-delay: .1s;
		    animation-delay: .1s;
		    animation-fill-mode: both;
		    -webkit-animation-name: content_show;
		    -moz-animation-name: content_show;
		    animation-name: content_show;
		    -webkit-transition: border-radius .3s ease;
		    -moz-transition: border-radius .3s ease;
		    transition: border-radius .3s ease; }
	
	.event-title-wrapper {
		width: 110px;
		margin-top: 15px; }
	
		.event-title {
			font-size: 0.7em;
		    font-weight: 700;
		    width: 90px;
		    line-height: 1.5;
		    letter-spacing: 0.01em;
		    text-transform: uppercase;
		    color: #0e3549;
		    background: #fff;
		    padding: 5px 7px;
		    display: inline-block;
		    -webkit-animation-duration: 2s;
		    -moz-animation-duration: 2s;
		    animation-duration: 2s;
		    -webkit-animation-fill-mode: both;
		    -moz-animation-fill-mode: both;
		    animation-fill-mode: both;
		    -webkit-animation-name: titleWind;
		    -moz-animation-name: titleWind;
		    animation-name: titleWind; }

/* --- hover event styles --- */	

@-webkit-keyframes content_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes content_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes content_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes titleWind {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        -webkit-transform: perspective(800px) rotateX(-80deg);
    }

    30% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        -webkit-transform: perspective(800px) rotateX(30deg);
    }

    70% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        -webkit-transform: perspective(800px) rotateX(-20deg);
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        -webkit-transform: perspective(800px) rotateX(0);
    }
}

@-moz-keyframes titleWind {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        -moz-transform-origin: 50% 0;
        -moz-transform: perspective(800px) rotateX(-80deg);
    }

    30% {
        opacity: 1;
        -moz-transform-origin: 50% 0;
        -moz-transform: perspective(800px) rotateX(30deg);
    }

    70% {
        opacity: 1;
        -moz-transform-origin: 50% 0;
        -moz-transform: perspective(800px) rotateX(-20deg);
    }

    100% {
        opacity: 1;
        -moz-transform-origin: 50% 0;
        -moz-transform: perspective(800px) rotateX(0);
    }
}

@keyframes titleWind {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: perspective(800px) rotateX(-80deg);
        -moz-transform: perspective(800px) rotateX(-80deg);
        -ms-transform: perspective(800px) rotateX(-80deg);
        -o-transform: perspective(800px) rotateX(-80deg);
        transform: perspective(800px) rotateX(-80deg);
    }

    30% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: perspective(800px) rotateX(30deg);
        -moz-transform: perspective(800px) rotateX(30deg);
        -ms-transform: perspective(800px) rotateX(30deg);
        -o-transform: perspective(800px) rotateX(30deg);
        transform: perspective(800px) rotateX(30deg);
    }

    70% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: perspective(800px) rotateX(-20deg);
        -moz-transform: perspective(800px) rotateX(-20deg);
        -ms-transform: perspective(800px) rotateX(-20deg);
        -o-transform: perspective(800px) rotateX(-20deg);
        transform: perspective(800px) rotateX(-20deg);
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: perspective(800px) rotateX(0);
        -moz-transform: perspective(800px) rotateX(0);
        -ms-transform: perspective(800px) rotateX(0);
        -o-transform: perspective(800px) rotateX(0);
        transform: perspective(800px) rotateX(0);
    }
}
@-webkit-keyframes extend {
    0% {
		width: 0px;
	    height: 0;
		padding: 0px;        
/* 	    transform: scaleY(0); */
		max-height: 0px;
		margin-top: 0px;
        margin-left: 0px; }
   
    50% {
		width: 400px;
		height: 2px;
		max-height: 2px;
        margin-left: -200px;
		padding: 0px; }

    100% {
		width: 400px;
	    height: auto;
		max-height: 500px;
/* 	    transform: scaleY(1); */
	    margin-left: -200px;
		padding: 5px; }
}

@keyframes extend {
    0% {
		width: 0px;
	    height: 0px;
		max-height: 0px;
/* 	    transform: scaleY(0); */
		padding: 0px;   
		margin-top: 15px;
        margin-left: 0px; }
   
    50% {
		width: 400px;
		height: 2px;
		max-height: 2px;
		margin-top: 15px;
        margin-left: -200px;
		padding: 0px; }

    100% {
		width: 400px;
	    height: auto;
/* 	    transform: scaleY(1); */
		max-height: 500px;
		margin-top: 15px;
	    margin-left: -200px;
		padding: 5px; }
}

@-webkit-keyframes collapse {
    0% {
		width: 400px;
	    height: auto;
	    margin-left: -200px;
		padding: 5px 		
    }
   
    50% {
		width: 400px;
		height: 2px;
        margin-left: -200px;
		padding: 0px         
    }

    100% {
		width: 0px;
	    height: 0px;
		padding: 0px;        
		margin-top: 0px;
        margin-left: 0px;
        display: none
    }
}

@keyframes collapse {
    0% {
		width: 400px;
	    height: auto;
	    margin-left: -200px;
		padding: 5px 		
    }
   
    50% {
		width: 400px;
		height: 2px;
        margin-left: -200px;
		padding: 0px         
    }

    100% {
		width: 0px;
	    height: 0px;
		padding: 0px;        
		margin-top: 0px;
        margin-left: 0px;
        display: none
    }
}

/* fadeInDown and fadeInUp animations from animate.css 
	Animate.css - http://daneden.me/animate
	Licensed under the MIT license - http://opensource.org/licenses/MIT
	Copyright (c) 2015 Daniel Eden */

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


/* Splash Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#splash {
	display: none; }


/* Filter Lists	
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul li {
	letter-spacing: 0.06em;
	line-height: 2.2em;
	cursor: pointer; }		

.films a {
	color: #690a98; }
	

/* Genre Filter List
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#genres {
	width: 220px; /* same width as .sidebar */
    height: 100%;
    overflow-x: scroll; }

	#genres ul {
	    display: inline-block;
	    padding: 1.2em 0 0 2em;}
		
		#genres ul li {
			font-size: .9em;
			text-transform: uppercase;
			-webkit-transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), color 200ms; 
			-moz-transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), color 200ms; 
		    -o-transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), color 200ms; 
		    transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), color 200ms;
	        padding-bottom: 0.5em; }	 
		       		
			div#genres ul li:hover {
				transform: translateX(20px);
				color: #f7b7c7; }
	
	        div#genres ul li:last-child {
	            padding-bottom: 12em; }
		
.line {
	display: block;
	border-top: 1px solid #f7b7c7;
	width: 50%;
	position: relative;
    left: -90px;
    top: 15px;
    margin: 0;
    padding: 0; }

	.move-line {
		left: -70px;
		transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }
	
	.move-line-back {
		left: -90px;
		transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }


/* Decade Filter List
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul#decades {
	text-align: right;
    padding: 0.1em 0; }
		
	ul#decades li {
		font-size: .95em;
		display: inline-block;
		text-align: center;
		padding: 0 20px; }	
