<!doctype html>
<!-- Define this as an AngularJS app -->
<html lang="en" ng-app>
    
<head>
	<!-- Page Info
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Filmography</title>
	<meta name="description" content="An interactive film database that visualises the past 100 years of film. Created for Major Creative Project 8145">
	<meta name="author" content="Grace Searson, Stephanie Brink and Lauren Schilling">
	
	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Typekit
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://use.typekit.net/zze6urx.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
    
    <!-- Scripts
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	<script src="scripts/pixi.min.js" defer></script>
	<script src="scripts/scaleToWindow.js" defer></script>
	<script src="scripts/app.js" defer></script> <!-- Angular --> 
	<script src="scripts/script.js" defer></script>
<!--     <script src="scripts/canvas.js" defer></script> -->

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/styles.css">

</head>

<body>


	<!-- Content
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->	
    
    <!-- splash page -->
    <div id="splash">
        <p>Welcome to</p>
        <img src=""> <!-- filmography logo type to go here -->
				
        <!-- intro description and instructions go here -->
        <p>Every square is a film...</p>
        <a data-link="timeline">Let's go!</a>
    </div>
    
	<!-- sidebar -->
    <div class="sidebar">
        <h1 id="logo"><a href="index.html"></a></h1><!--logo added in via CSS-->
        <div id="genres">
            <ul>
                <li data-link="action"><span class="line"></span>Action</li>
                <li data-link="adventure"><span class="line"></span>Adventure</li>
                <li data-link="animation"><span class="line"></span>Animation</li>
                <li data-link="comedy"><span class="line"></span>Comedy</li>
                <li data-link="crime"><span class="line"></span>Crime</li>
                <li data-link="doc"><span class="line"></span>Documentary</li>
                <li data-link="drama"><span class="line"></span>Drama</li>
                <li data-link="family"><span class="line"></span>Family</li>
                <li data-link="fantasy"><span class="line"></span>Fantasy</li>
                <li data-link="history"><span class="line"></span>History</li>
                <li data-link="music"><span class="line"></span>Music</li>
                <li data-link="mystery"><span class="line"></span>Mystery</li>
                <li data-link="romance"><span class="line"></span>Romance</li>
                <li data-link="scifi"><span class="line"></span>Sci-fi</li>
                <li data-link="thriller"><span class="line"></span>Thriller</li>
                <li data-link="tv"><span class="line"></span>TV Movie</li>
                <li data-link="war"><span class="line"></span>War</li>
                <li data-link="western"><span class="line"></span>Western</li>
            </ul>
        </div>
    </div>
    
    <!-- year marker over canvas -->
    <div id="mouse-move">
        <div id="current-year">
	        <p id="dot-year"></p>
        </div>
        <div id="line"></div>
        <div id="cursor"></div>
    </div>
    
    <!-- Link this DOM object to the movieController in app.js -->
    <div ng-controller="movieController" style="display:none">

        <div class="col list">
            <p>Select a movie:</p>
            <ul class="films">
            <!-- Iterate through all movies in the dataset and display title with a click function -->
                <li ng-repeat="movie in movies">
                    <a href ng-click='movieClick(movie)'>{{ movie.title }}</a>
                </li>
            </ul>
        </div>

        <!-- This section will automatically display detail when selectedArtist is updated -->
        <div class="col detail">
            <div class="detail-image-wrapper">
                <img class="detail-image" src="{{selectedMovieImage}}" >
            </div>
            <div class="detail-title-wrapper">
                <h2>{{ selectedMovie.title }}</h2>
                <p class="yr"></p>
            </div>
            <p class="genre-ids"></p>
            <p>{{ selectedMovie.overview }}</p>

        </div>
    </div>
    
    <div id="data-background"></div>
						
    <canvas id="canvas"></canvas>
			
    <footer>
        <div class="baseline-bar">
            <ul id="decades">
				<li data-link="1930">1930s</li>
				<li data-link="1940">1940s</li>
				<li data-link="1950">1950s</li>
				<li data-link="1960">1960s</li>
				<li data-link="1970">1970s</li>
				<li data-link="1980">1980s</li>
				<li data-link="1990">1990s</li>
				<li data-link="2000">2000s</li>
				<li data-link="2010">2010s</li>
            </ul>
        </div>
        
        <div class="slider">
        </div>
    </footer>   
	
</body>
</html>
